.site__title{
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
    }


}

// .site__description{

// }

.site__branding{
    p{  
        display: flex;
        justify-content: center;
    }
}