.site__footer{
    display: flex;
    justify-content: space-between;
    background-color: $color__menu__container-background;
    border-top: solid 3px navy;
    margin-top: 25px;

}

.site__footer figure{
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.widget-text b,strong{
    color: #aa28b6;
  }