.menu__aside{
    display: flex;
    
    //ul
    .menu{
        list-style-type: none;
        padding: 0;
        margin: 0;
         //li
        .menu-item{

        }
    }
   
    
    a{
        
    }
}