.menu-primary_menu-container{
background-color: $color__menu__container-background;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
height: 6rem;

    .menu{
        
        list-style-type: none;
        display: flex;
        justify-content: space-around;

        .menu-item{
            
            a{
            
            text-decoration: none;
            background-color: $color__menu__item-background;
            color: aqua;
            padding: 5px;
            }

            a:hover{
                background-color: #555;
            }
        }
    }
}


